.hero-container {
  width: 100%;
  height: 50vh;
  background-image: url('../assets//heroImg.jpg');
  background-position: 10% 90%;
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 2px solid black;
}

.hero-title {
  color: white;
  text-align: left;
  font-weight: 500;
  padding: 9rem 0rem 0rem 4rem;
  text-decoration-line: underline;
  font-size: 32px;
}
