@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
}

.items-container {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.popular-products-title {
  text-align: center;
  margin-bottom: 2rem;
}

.items {
  display: flex;
  justify-content: space-evenly;
}
